img {
  width: 100px;
}

a{
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

.active-link {
    color: greenyellow;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.navbar a:hover {
    color: #61dafb;
}
